<div class="hero">
	<div class="frosty col-xs-8 col-xs-offset-2 text-center">
		<br />
		<h1>Learn to Operate Air Balloon Business!</h1>
		<br />
		<h2>I'm a successful entrepreneur operating air balloon business for over 30 years.</h2>
		<br />
		<%= link_to "Learn More", "#", :class => "btn btn-success" %>
		<br />
		<br />
	</div>
</div>